/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

ul {
  list-style: none;
}

a,
li {
  text-decoration: none;
}

.center {
  margin: auto;
  text-align: center;
}
.center-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row span {
  margin-top: 20px;
  margin-left: 15px;
}
.btn-small {
  cursor: pointer;
  display: inline-block;
  background: #635fc7;
  border: transparent;
  color: #fff;
  border-radius: 24px;
  padding: 5px 10px;
  font-size: 15px;
}
.btn-small:hover {
  background: #a8a4ff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
